.card2--container {
  display: flex;
  justify-content: center;
}

.card2--status--title--box {
  /* border: 2px solid blue; */
  /* background-color: rgb(23, 188, 230);
    color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9%;
  width: 100%;
  padding: 1% 0 1% 0;
}

.card2--title--items {
  /* border: 2px solid green; */
  /* margin: 0 4% 0 4%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1% 1% 1% 1%;
  word-break: break-all;
}

.card2--transactionId {
  padding-left: 1%;
  width: 20%;
}

.card2--supplyId {
  width: 20%;
}

.card2--demandId {
  width: 20%;
}

.card2--itemId {
  width: 15%;
}

.card2--locationId {
  width: 15%;
}

.card2--quantity {
  width: 10%;
}

.bgColor1 {
  background-color: rgba(187, 187, 187, 0.172);
}
